<a href="https://colab.research.google.com/github/mashtura-m/30-days-of-ML-ETL/blob/master/featureEngineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:

# Replace with the actual path to your CSV file
df = pd.read_csv('/content/drive/MyDrive/MLdata/netflix_titles.csv')
print(df.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [ ]:
print (df.dtypes)
print (df.columns)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object
Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [ ]:
numeric_df = df.select_dtypes(include='number')
print("Numeric Columns:")
print(numeric_df.columns)

Numeric Columns:
Index(['release_year'], dtype='object')

In [ ]:
countryCol=df['country']
print(countryCol.size)
print(countryCol.value_counts())

8807
country
United States                                                      2818
India                                                               972
United Kingdom                                                      419
Japan                                                               245
South Korea                                                         199
                                                                   ...
Mexico, United States, Spain, Colombia                                1
Canada, Norway                                                        1
Finland, Germany, Belgium                                             1
Argentina, United States, Mexico                                      1
United Kingdom, United States, Germany, Denmark, Belgium, Japan       1
Name: count, Length: 748, dtype: int64

In [ ]:
country_counts = countryCol.value_counts()
countries_less_than_100 = country_counts[country_counts < 100]
mask = countryCol.isin(country_counts[country_counts < 100].index)
print(countries_less_than_100.head())
print(mask.head())# masking out true & false

country
Nigeria      95
Australia    87
Taiwan       81
Indonesia    79
Brazil       77
Name: count, dtype: int64
0    False
1     True
2    False
3    False
4    False
Name: country, dtype: bool

In [ ]:
one_hote_encoded= pd.get_dummies(df, columns=['country'], prefix="OH")
print(one_hote_encoded.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in',
       ...
       'OH_Uruguay, Argentina, Germany, Spain', 'OH_Uruguay, Argentina, Spain',
       'OH_Uruguay, Germany', 'OH_Uruguay, Guatemala',
       'OH_Uruguay, Spain, Mexico', 'OH_Venezuela', 'OH_Venezuela, Colombia',
       'OH_Vietnam', 'OH_West Germany', 'OH_Zimbabwe'],
      dtype='object', length=759)